.container{
    width:100%;
    margin: 0;
    background: rgb(250, 249, 255);
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.banner{
    width: 100%;
    height: 300px;
    display: flex;
    position: relative;
    object-fit: cover;
    background-size: cover;
    background-attachment : fixed;
    background-image: url("../assets/about-us-Bg.jpg");
}



.banner h1{
     position: absolute;
     bottom: 27%;
     left: 16%;
     color: rgb(207, 197, 197);
     font-size: 60px;
     font-family: poppins;
     font-weight: bold;
}

.PdfDiv{
    display: flex;
    background: rgb(251, 246, 246);
}
.PdfDiv img{
    width: 800px;
    height: 500px;
    /* position: relative; */
}
.textpdf{
    max-width: 100%;
    /* position: absolute; */
    margin-left: -30px;
    background: rgb(240, 252, 254);
    padding: 5%;
    margin-top: 40px;
    border-radius: 20%;
}
.textpdf h1{
    font-size: 25px;
    font-family: poppins;
    color: rgb(138, 133, 133);
    font-weight: lighter;
}
.pdfDownloadBtn{
    width: 300px;
    height: 50px;
    background: blue;
    color: white;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
    font-size: 20px;
    font-family: poppins;
    font-weight: bold;
    transition: ease-out 1.9s;
}

.parent{
    display: flex;
    background: rgb(226, 224, 224);
    /* border:2px dashed rgb(25, 23, 23); */
}
.child1{
    margin-left: 11%;
    margin-right: 20px;
}
.child1 h1{
    font-size: 30px;
}
.child1 h4{
    color: blue;
    font-size: 23px;
    font-family: poppins;
    font-weight: bold;
}
.child1 p{
    font-size: 25px;
    font-family: poppins;
    color: rgb(138, 133, 133);
    font-weight: lighter;
}

.childdiv{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.border{
    width: 3px;
    height: 90px;
    background: blue;
    border-radius: 5px;
}
.call{
    display: flex;
}
.icondiv{
    position: relative;
    width: 20px;
    height: 20px;
    padding: 15px;
    background: white;
    border-radius: 50%;
    margin-top: 5px;

}
.icon{
    position: absolute;
    color: blue;
    
    
}
.call h2{
    font-size: 19px;
    font-family: poppins;
    color: rgb(76, 74, 74);
    font-weight: lighter;
    margin-left: 20px;
    margin-top: 5px;
}
.call h1{
    font-size: 19px;
    font-family: poppins;
    color: rgb(13, 28, 228);
    font-weight: bold;
    margin-left: 20px;
    margin-top: -5px;
}
.founder h3{
font-size: 25px;
font-family: poppins;
color: rgb(78, 78, 77);
margin-top:-10px;
}
.founder{
    margin-top: -30px;
}
.child2 img{
    width: 800px;
    height: 500px;
}
.ExpertTeam{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 3px dashed blue; */
    margin: 20px;
    padding: 20px;
}

.ExpertMembers{
    display: flex;
    gap: 10px;
    padding: 10px;
    /* border: 2px dashed green; */
}
.ExpertText {
    text-align: center;
}
.ExpertText p{
    font-size: 23px;
    font-family: poppins;
    color: rgb(18, 7, 232);
    font-weight: lighter;
}

.ExpertText h1{
    font-size: 50px;
    font-family: poppins;
    color: rgb(65, 67, 67);
    font-weight: bold;
}

.member{
    /* border: 2px dashed yellow; */
    padding: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    text-align: center;
    background: rgb(242, 242, 246);
}
.member img{
    width: 300px;
    height: 300px;
    /* position: fixed; */
}

.member h1{
    font-size: 30px;
    font-family: poppins;
    color: rgb(65, 67, 67);
    font-weight: bold;
    text-align: center;
}

.member p{
    font-size: 23px;
    font-family: poppins;
    color: rgb(17, 29, 200);
    font-weight: lighter;
    text-align: center;
}

.Review{
    background: rgb(202, 201, 201);
}

.ReviewDiv{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}
.ReviewPersonDiv {
    display: flex;
    background: rgb(202, 201, 201);

    margin:20px;
    padding: 20px;
    gap:20px
}
.ReviewPerson{
    display: flex;

}

.ReviewPerson img{
    width: 80px;
}
.ReviewPerson p{
    font-size: 23px;
    font-family: poppins;
    color: rgb(121, 121, 123);
    font-weight: lighter;
    text-align: center;
    margin:5px;
}

.Reviewdiv1 h2{
    font-size: 16px;
    font-family: poppins;
    color: rgb(19, 19, 207);
    font-weight: lighter;
    margin:5px;
}
.Reviewdiv1 h1{
    font-size: 23px;
    font-family: poppins;
    color: rgb(45, 45, 47);
    font-weight: bold;
    margin:5px;
}

.Reviewdiv1{
    margin-left:10px;
    right:5%;
    /* border:3px dashed black; */
    background: rgb(255, 255, 255);
    width: 50%;

}
.Quote p{
    text-align: center;
    color: blue;
    font-size: 23px;
    font-family: poppins;
    font-weight: lighter;
}

.Quote h1{
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 50px;
    font-family: poppins;
    font-weight: bold;
}
.btn1{
    /* border: none; */
    background: rgb(86, 207, 195);
    color: blue;
    text-decoration: none;
    cursor: pointer;
    font: inherit;
    padding: 2px;
    border-radius: 5px;
    font-size: 20px;
    font-family: poppins;
    font-weight: lighter;
    margin-left: 10px;
    margin-top: 5px;
}
.btn1:hover{
    background: rgb(0, 0, 0);
    color: white;
    transition: ease-in-out 1.9s;
}
.consult {
    width: 100%;
    height: 250px;
    /* border: 2px dashed red; */
    background: rgb(105, 139, 136);
    /* margin: auto; */
    margin-top: -20px;
    background-size: cover;
}
.consult .img{
    position: absolute;
    display: block;
    width: 100%;
    height: 250px;
}

.consultdiv {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: aliceblue;
    padding: 20px;
    background: transparent;
    top:30%
}
.consultText p{
    font-size: 23px;
    font-family: poppins;
    color: rgb(255, 255, 255);
    font-weight: lighter;
    text-align: center;
}
.consultText h1{
    font-size: 50px;
    font-family: poppins;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-align: center;
    margin:5px;
}

.btn2{
    border: none;
    background: transparent;
    color: rgb(187, 186, 189);
    text-decoration: none;
    cursor: pointer;
    font: inherit;
    padding: 5px;
    border-radius: 5px;
    font-size: 25px;
    font-family: poppins;
    font-weight: lighter;
    margin-left: 10px;
    margin-top: 5px;
}

.btn2:hover{
    background: rgb(139, 138, 138);
    color: white;
}

