.FooterContainer{
    width: 100%;
    background: #0B2048;
    padding: 20px;
    background-image:  url(../assets/FooterBGimg.jpeg) ;
    
   
}
.Details{
    width: 1450px;
    margin-left: 8%;
    padding: 20px;
    height: 206px;
    /* border: 1px solid black; */
}
.detailsDiv{
    display:flex ;
    gap: 20px;
}
.address:hover{
    box-shadow: #0000004d 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    border-radius: 10px;
    transition: box-shadow 0.6s ease;

}
.iconDiv:hover{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    border-radius: 10px;
    transition: box-shadow 0.6s ease;

}
.address{
    width: 420px;
    height: 206px;
    display: inline-block;
    display: flex;
    /* border:2px dashed red; */
    align-items: center;
    border: 1px solid rgb(12, 12, 12);
    border-left: navajowhite;
    border-bottom: navajowhite;
    margin-top: -40px;
    padding: 10px;
}

.address .iconDiv{
    width: 60px;
    /* border:2px dashed red; */
    height: 60px;
    background: #152B54;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.icon{
    width: 30px;
    height: 80px;
    /* margin-left: 20px; */
    color: #FFFFFF;
}

.address h1{
    color: #FFFFFF;
    font-size: 20px;
    font-family: poppins;
    margin-left: 10px;
    font-weight: lighter;
}
.address p{
    color: #8A99B4;
    font-size: 15px;
    font-family: poppins;
    margin-left: 15px;
    font-weight: lighter;
    margin-top: -10px;
}
.social {
    display: flex;
}

.middle{
    display: flex;
    width: 80%;
    margin-left: 15%;
    gap: 80px;
}
.middle h1{
    color: #FFFFFF;
    font-size: 24px;
    font-family: poppins;
    font-weight: bold;
}
.middle p{
    color: #8A99B4;

}
.middle .footerdiv{
    width: 20%;
}
.SocailDiv{
    width: 45px;
    height: 45px;
    background: #1a2c4e;
    border-radius: 5px;
    margin-left: 10px;
}
.SocailDiv:hover{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    border-radius: 10px;
    transition: box-shadow 0.6s ease;
    cursor: pointer;
}
.Socialicon{
    justify-self: center;
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 400;
    margin:30%;
}

.footerdiv{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.linksfooter{
    text-decoration: none;
    color: #8A99B4;
    font-size: 20px;
    font-family: poppins;
    font-weight: lighter;
}
.linksfooter:hover{
    color: #FFFFFF;
    cursor: pointer;
    transition: transform 5.9s ease-in-out;


}
.gMap{
    overflow: hidden;
    height: 200px;
    padding-bottom: 10px;
    position: relative;
}
.gmap iframe{
    border: 0;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute
}

.copyRight{
    width: 100%;
    height: 50px;
    /* background: #152B54; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #8A99B4;
    font-size: 14px;
    font-family: poppins;
    font-weight: lighter;
}