.container{
    width:100%;
    margin: 0;
    background: rgb(250, 249, 255);
    box-sizing: border-box;
}

.banner{
    width: 100%;
}
.banner img{
    width: 100%;
    height: 600px;
    object-fit: cover;
    position:relative;
    color: black; filter:brightness(0.7);
}
.bannerText{
    width: 30%;
    position: absolute;
    top: 30%;
    left: 10%;
    color: rgb(245, 245, 243);
    
}
.bannerText h1{
    font-size: 30px;
    font-family: poppins;
    font-weight: bold;
}

.bannerText p{
    font-size: 20px;
    font-family: poppins;
    font-weight: bold;
    margin-top: 10px;   
    color: rgb(227, 241, 255);
}

.bannerText button{
    height: 40px;
    background: rgb(104, 57, 0);
    color: aliceblue;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 20px;
    font-family: poppins;
}