
.wrapper {width: 1440px;
    height: 800px;
    /* border-radius: 10px; */
    /* border: 3px dashed red; */
    margin-top: 0px;
    padding: 0.5px;
    color: #fff;
    background-image: url("../assets/Blue-ShapeBG.svg");
    background-size:cover;
}



.LoginForm{
    width: 600px;
    height: 600px;
    border-radius: 10px;
    /* border: 3px dashed red; */
    color: #040000;
    background-image: url("../assets/06_08_gif.gif");
    background-size: cover;
    margin-left: 400px;
}

.LoginForm h1 {
    font-size: 36px;
    text-align: center;
}

.LoginForm .inputBox {
    position: relative;
    width: 60%;
    height: 50px;
    margin: 30px 0;
}

.inputBox input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border: 2px solid rgba(125, 122, 122, 0.1);
    border-radius: 40px;
    padding: 0 20px;
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Poppins';
}

.inputBox input::placeholder {
    color: #1a1818;
    position: absolute;
    top: -5%;
    left: 0%;
}

.inputBox .icon {
    position: absolute;
    right: -60px;
    top: 70%;
    transform: translateY(-40%);
    font-size: 16px;
    color: #6b6969;
}

.RememberPassword  {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    /* border : 3px dashed black */
}
.RememberPassword .spanbox{
    margin-top: -20px;
}
.RememberPasswordText {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin-top: -10px; */
    margin-right: 150px;
   
}

.RememberPassword input{
    width: 20px;
    height: 22px;
    /* text-align: left; */
}

.RememberPassword a {
    color: #070707;
    text-decoration: none;
    font-weight: bold;
}

.RememberPassword a:hover {
    text-decoration: underline;
}

.LoginForm button {
    width: 50%;
    height: 45px;
    margin-left: 100px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    color: #333;
    font-weight: 700;
}
.LoginForm button:hover{
    background: #9792ee;
    color: aliceblue;
    transition: background-color 1.9s ease;
}

.LoginForm .registerLink {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.registerLink p {
margin-left: -120px;

}
.registerLink p a {
    color: #0a0ef9;
    font-weight: 600;
    text-decoration: none;
}

.registerLink p a:hover {
    text-decoration: underline;
}
