.container {
    width: 1440px;
    height: 90px;
    margin: 0;
    padding: 0;
    top: 0;
    overflow: hidden;
    position: relative;
    background: rgb(250, 249, 255);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  
  .logo img {
    width: 80px;
    height: 100px;
    max-height: 150px;
  }
  
  .navlinks {
    display: flex;
    gap: 20px;
    align-items: center;
    font-family: 'Poppins', sans-serif;
  }
  
  .links {
    font-weight: 400;
    font-size: 25px;
    text-decoration: none;
    position: relative;
  }
  
  .links:hover {
    color: rgb(66, 162, 162);
    text-decoration: none;
  }
  
  .links::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0%;
    height: 2px;
    background-color: rgb(171, 63, 63);
    transition: width 0.5s ease;
  }
  
  .links:hover::after {
    width: 100%;
  }
  
  .buttons {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .btn {
    width: 100px;
    height: 40px;
    background: rgb(235, 123, 31);
    font-size: 17px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn:hover {
    background: rgb(171, 63, 63);
    color: white;
  }
  
  .loginbtn {
    width: 100px;
    height: 40px;
    background: rgb(235, 123, 31);
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .Link {
    text-decoration: none;
    font-size: 17px;
    color: black;
    font-weight: bold;
  }
  
  .loginbtn:hover {
    color: white;
  }
  
  .loginbtn .Link:hover {
    color: white;
  }
  
  .menuIcon {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    cursor: pointer;
  }
  
  .bar {
    width: 100%;
    height: 3px;
    background-color: #333;
    transition: transform 0.3s ease-in-out;
  }
  
  .bar.open {
    transform: translateY(9px) rotate(45deg);
  }
  
  .bar.open:nth-child(2) {
    opacity: 0;
  }
  
  .bar.open:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
  }
  
  @media only screen and (max-width: 768px) {
    .navlinks {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 90px;
      left: 0;
      width: 100%;
      background-color: #fff;
      padding: 20px 0;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
  
    .navlinks.show {
      display: flex;
    }
  
    .links {
      font-size: 20px;
      padding: 10px 20px;
    }
  }